body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.app {
  --bg-color: #2f2f2f;
  --primary-color: #00a1ff;
  --primary-dark-color: #00639c;
  --text-light-color: #FFFFFF;
  --item-bg-color: #7d7d7d;
  --item-bg-dark-color: #5f5f5f;
  --primary-light-color: #ccecff;
  --text-dark-color: #000000;
  --text-dark-light-color: #7d7d7d;
  
  background: var(--bg-color);
}

.app--light {
  --bg-color: #e0e0e0;
  --primary-color: #00a1ff;
  --primary-dark-color: #00639c;
  --text-light-color: #000000;
  --item-bg-color: #ffffff;
  --item-bg-dark-color: #a5a5a5;
  --primary-light-color: #ccecff;
  --text-dark-color: #ffffff;
  --text-dark-light-color: #7d7d7d;
}

ul {
  margin: 0;
}

.container {
  margin-top: 60px;
  height: calc(100vh - 60px);
  display: flex;
}

.container__right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.navbar {
  height: 60px;
  background: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 0 20px;
  align-items: center;
}

.navbar__header {
  flex: 1;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.navbar__counter {
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  background-color: var(--primary-dark-color);
  text-align: center;
  width: 60px;
  line-height: 60px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.booklist {
  list-style: none;
  padding: 24px 32px;
  flex: 1;
  height: 100%;
  overflow: scroll;
}

.booklist__item {
  padding: 12px 20px;
  background: var(--item-bg-color);
  border-radius: 4px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.booklist__title {
  color: var(--text-light-color);
  font-size: 18px;
  flex: 1;
}

.booklist__item:hover {
  background: var(--item-bg-dark-color);
}

.booklist__item--active {
  background: var(--primary-color);
}

.booklist__item--active:hover {
  background: var(--primary-dark-color);
}

.booklist__button {
  background: transparent;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.booklist__button:hover {
  background: rgba(0, 0, 0, .1);
}

.book-detail {
  padding: 12px 20px;
  margin: 24px 32px;
  flex: 1;
  background: var(--primary-light-color);
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-detail__title {
  font-size: 32px;
  font-weight: bold;
  color: black;
  margin-bottom: 6px;
}

.book-detail__author {
  font-size: 18px;
  color: var(--text-dark-light-color);
}

.book-detail__button{
  background: transparent;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  top: 90px;
  right: 30px;
  padding: 0;
  margin: 0;
  display: flex;
 position: absolute;
  align-items: right;
  cursor: pointer;
  transition: 0.3s;
}

.add-from {
  flex: 1;
  padding: 12px 20px;
  margin:  0 32px 24px;
  flex: 1;
  background: var(--item-bg-color);
  border-radius: 4px;
}

.add-form__head {
  color: var(--text-light-color);
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 12px 0;
}

.add-from__wrapper {
  width: 100%;
}

.add-from__input {
  display: block;
  width: 100%;
  background: transparent;
  color: var(--text-light-color);
  outline: none;
  border: 1px solid var(--text-light-color);
  border-radius: 4px;
  padding: 8px 12px;
  transition: 0.3s;
}

.add-from__input:hover {
  border-color: var(--primary-color);
}

.add-from__input:focus {
  border-color: var(--primary-color);
}

.add-form__group {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.add-from__label {
  font-size: 14px;
  color: var(--text-light-color);
  width: 100px;
}

.add-from__button {
  background: var(--primary-color);
  color: var(--text-light-color);
  text-transform: uppercase;
  size: 16px;
  font-weight: bold;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  margin-top: 12px;
  float: right;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}

.add-from__button:hover {
  background: var(--primary-dark-color);
}

.edit-form {
  padding: 12px 20px;
  margin: 24px 32px;
  flex: 1;
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--item-bg-color);
  border-radius: 4px;
}

.edit-form__head {
  color: var(--text-light-color);
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 12px 0;
}

.edit-from__wrapper {
  width: 100%;
}

.edit-from__input {
  display: block;
  width: 100%;
  background: transparent;
  color: var(--text-light-color);
  outline: none;
  border: 1px solid var(--text-light-color);
  border-radius: 4px;
  padding: 8px 12px;
  transition: 0.3s;
}

.edit-from__input:hover {
  border-color: var(--primary-color);
}

.edit-from__input:focus {
  border-color: var(--primary-color);
}

.edit-form__group {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.edit-from__label {
  font-size: 14px;
  color: var(--text-light-color);
  width: 100px;
}

.edit-from__button {
  background: var(--primary-color);
  color: var(--text-light-color);
  text-transform: uppercase;
  size: 16px;
  font-weight: bold;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  margin-top: 12px;
  float: right;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}

.edit-from__button:hover {
  background: var(--primary-dark-color);
}

/* Switch */

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: var(--primary-color);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--primary-light-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Switch */